<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>Indigo ELN</display-name>

    <!-- Spring context -->

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/security-context.xml</param-value>
    </context-param>

    <!-- Spring security -->

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- Session config -->
    
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    
    <!-- JNLP Download Servlet -->

    <servlet>
        <servlet-name>JnlpDownloadServlet</servlet-name>
        <servlet-class>jnlp.sample.servlet.JnlpDownloadServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>JnlpDownloadServlet</servlet-name>
        <url-pattern>*.jnlp</url-pattern>
    </servlet-mapping>

    <!-- Services -->

    <servlet>
        <servlet-name>ServiceServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlet-context.xml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServiceServlet</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>

    <!-- Report Servlet -->
    
    <servlet>
		<servlet-name>CeNReportServlet</servlet-name>
		<servlet-class>com.chemistry.enotebook.report.servlet.CeNReportServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CeNReportServlet</servlet-name>
		<url-pattern>/report</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.chemistry.enotebook.report.servlet.ReportServiceAppListener</listener-class>
	</listener>

	<context-param>
		<param-name>DataSourcePath</param-name>
		<param-value>.</param-value>
	</context-param>

	<context-param>
		<param-name>PreLoadReports</param-name>
		<param-value>conception.rptdesign,medchem.rptdesign</param-value>
	</context-param>

</web-app>
