<?xml version="1.0" encoding="$encoding"?>
<jnlp spec="1.0" codebase="$$codebase" context="$$context" href="$$name">
    <update check="always" policy="always"/>
    <information>
        <title>Indigo ELN</title>
        <vendor>EPAM Systems</vendor>
        <homepage href="index.html"/>
        <description>Indigo ELN provides chemists with a method for recording their Medicinal and Parallel experiments,
            registering compounds and submitting compounds for purification
        </description>
        <icon href="images/desktopicon.png"/>
        <icon kind="splash" href="images/splash.jpg"/>
    </information>
    <security>
        <all-permissions/>
    </security>
    <resources>
        <j2se version="1.6+" initial-heap-size="128m" max-heap-size="512m"/>
        $dependencies
    </resources>
    <application-desc main-class="$mainClass"/>
</jnlp>